<body>
    <header class="navbar">
        <div class="logo">
            <img src="assets/images/logo.png" alt="Logo">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Accueil</a></li>
                <li><a href="#" routerLink="/liste-offres">Postuler à des offres</a></li>
                <li><a href="#">Événements & Actualités</a></li>
                <li><a href="#">Contact</a></li>

            </ul>
        </nav>
        <!-- Bouton dynamique -->
        <button class="btn-primary" routerLink="/profil">Votre profil</button>

        <!-- Menu mobile -->
        <button class="menu-toggle" (click)="toggleMenu()">
            <img src="assets/images/Vector.png" alt="Menu">
        </button>
    </header>

    <div class="profile-container">
        <div class="sidebar">
            <ul>
                <li class="active"><i class="fa fa-user"></i> Profil</li>
                <li routerLink="/candidatures"><i class="fa fa-file"></i> Candidatures</li>
                <li><i class="fa fa-sign-out" (click)="logout()"></i> Déconnexion</li>
            </ul>
        </div>
        <div class="main-content">
            <div class="header">
                <img src="assets/images/default-avatar.png" alt="Profile Photo" class="profile-photo" />
                <div class="header-info" style="    width: 100%;">
                    <div style="display: flex;justify-content: space-between;">
                        <div>
                            <h2>{{user.nom}} {{user.prenom}} </h2>
                            <p>{{user.type}}</p>
                            <button (click)="openModall()" style="padding: 8px 12px;
                    margin-right: 8px;
                    border: 1px solid black;
                    background-color: transparent;
                    border-radius: 10px;
                    cursor: pointer;">Générer un CV</button>
                            <button (click)="fileInput.click()" style="padding: 8px 12px;
                    margin-right: 8px;
                    border: 1px solid black;
                    background-color: transparent;
                    border-radius: 10px;
                    cursor: pointer;">Uploader un CV</button>
                            <input type="file" #fileInput style="display:none" (change)="onFileSelected($event)"
                                accept=".pdf,.doc,.docx" />
                        </div>
                        <!-- Affichage du CV existant -->
                        <div *ngIf="user.cv">
                            <h3>CV existant :</h3>
                            <a style=" color: #007bff;
  text-decoration: none;" [href]="user.cv" target="_blank" rel="noopener noreferrer">Voir ton CV</a>
                        </div>
                    </div>
                    <!-- Modale -->
                    <div class="modal fade" id="Modal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content custom-modal-content">
                                <div class="modal-header custom-modal-header">
                                    <span class="close" (click)="closeModall()">&times;</span>
                                </div>
                                <div class="modal-body custom-modal-body">
                                    <h3>Choisissez un template de CV</h3>
                                    <div>
                                        <label *ngFor="let t of templates">
                                            <input type="radio" name="template" [value]="t.id"
                                                [(ngModel)]="selectedTemplate" />
                                            {{ t.name }}
                                        </label>
                                    </div>
                                    <button (click)="generateCv()" [disabled]="!selectedTemplate">Générer le CV
                                        PDF</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="section-header">
                    <h3>Description</h3>
                    <i class="fa fa-pencil edit-icon" (click)="openModal()"></i>
                </div>
                <p>
                    {{user.bio}}
                </p>
            </div>

            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content custom-modal-content">
                        <div class="modal-header custom-modal-header">
                            <h5 class="modal-title" id="editModalLabel">Modifiez votre titre et votre
                                présentation de
                                profil</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body custom-modal-body">
                            <p>Utilisez cet espace pour mettre en avant vos compétences et votre expérience afin
                                d'attirer les clients :</p>
                            <ul>
                                <li>Mettez en avant vos points forts et vos savoir-faire</li>
                                <li>Présentez vos projets, réalisations et parcours académique</li>
                                <li>Soyez clair, concis et veillez à éviter toute erreur</li>
                            </ul>
                            <textarea class="form-control" [(ngModel)]="user.bio" rows="6"></textarea>

                            <small class="character-count" style="font-size: 10px;">4655 caractères
                                restants</small>
                        </div>
                        <div class="modal-footer custom-modal-footer">
                            <button type="button" class="btn btn-secondary custom-cancel-button"
                                data-bs-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary"
                                (click)="updateUserInfo()">Sauvegarder</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-header">
                    <h3>Compétences</h3>
                    <i class="fa fa-pencil edit-icon" (click)="openSkillsModal()"></i>
                </div>
                <div class="skills">
                    <span *ngFor="let skill of user.competance; let i = index">
                        {{ skill }}
                        <button (click)="removeSkill(i)" style="border: none;background: transparent;">x</button>
                    </span>
                </div>
            </div>

            <!-- Skills Modal -->
            <div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="skillsModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content custom-modal-content">
                        <div class="modal-header custom-modal-header">
                            <h5 class="modal-title" id="skillsModalLabel">Modifier les compétences</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body custom-modal-body">
                            <p class="competences-text">Compétences</p>
                            <form [formGroup]="candidatForm">
                                <div class="form-group skill-input-wrapper">
                                    <input id="skillInput" type="text" formControlName="skillInput"
                                        (keydown.enter)="addSkill(); $event.preventDefault();"
                                        placeholder="Tapez une compétence et appuyez sur Entrée" class="form-input"
                                        autocomplete="off" />

                                    <div *ngIf="suggestions.length > 0" class="suggestions-list">
                                        <div *ngFor="let suggestion of suggestions" (click)="addSkill(suggestion)"
                                            class="suggestion-item">
                                            {{ suggestion }}
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="skills-container">
                                <span class="skill-tag" *ngFor="let skill of skills; let i = index">
                                    {{ skill }}
                                    <button type="button" (click)="removeSkill(i)">×</button>
                                </span>
                            </div>
                            <p class="max-skills">Maximum 15 compétences.</p>
                        </div>
                        <div class="modal-footer custom-modal-footer">
                            <button type="button" class="btn btn-secondary custom-cancel-button"
                                data-bs-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary" (click)="updateSkills()">Sauvegarder</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" style="background-color: rgba(30, 41, 59, 1);color:rgba(226, 232, 240, 1) ;">
                <div class="section-header">
                    <h3 style="color:rgba(226, 232, 240, 1) ;">Expérience</h3>
                    <i style="color:rgba(226, 232, 240, 1) ; cursor: pointer;" class="fa fa-plus add-icon"
                        (click)="openExperienceModal()"></i>
                </div>
                <ul class="experience-list">
                    <li *ngFor="let experience of experiences; let i = index">
                        {{ experience.poste }} at {{ experience.entreprise }} ({{ experience.dateDebut }} - {{
                        experience.dateFin }})
                        <div class="list-actions">
                            <i style="color:rgba(226, 232, 240, 1) ; cursor: pointer;" class="fa fa-trash delete-icon"
                                (click)="deleteExperience(i)"></i>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Experience Modal -->
            <div class="modal fade" id="experienceModal" tabindex="-1" aria-labelledby="experienceModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content custom-modal-content">
                        <div class="modal-header custom-modal-header">
                            <h5 class="modal-title" id="experienceModalLabel">Ajouter une expérience</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body custom-modal-body">
                            <form [formGroup]="experienceForm">
                                <div class="form-group">
                                    <label for="company">Entreprise</label>
                                    <input type="text" class="form-control custom-input" id="company"
                                        formControlName="entreprise" placeholder="Nom de l'entreprise">
                                </div>

                                <div class="form-group">
                                    <label for="position">Poste occupé</label>
                                    <input type="text" class="form-control custom-input" id="position"
                                        formControlName="poste" placeholder="Ex: Développeur Web, Chef de Projet...">
                                </div>

                                <div class="form-group">
                                    <label for="startDate">Dates de début (optionnel)</label>
                                    <select class="form-control custom-select" id="startDate"
                                        formControlName="dateDebut">
                                        <option value="">De</option>
                                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="endDate">Dates de fin (optionnel)</label>
                                    <select class="form-control custom-select" id="endDate" formControlName="dateFin">
                                        <option value="">à</option>
                                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer custom-modal-footer">
                            <button type="button" class="btn btn-secondary custom-cancel-button"
                                data-bs-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary custom-save-button"
                                (click)="updateExperience()" data-bs-dismiss="modal">Sauvegarder</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" style="background-color: rgba(30, 41, 59, 1); color:rgba(226, 232, 240, 1) ;">
                <div class="section-header">
                    <h3 style="color:rgba(226, 232, 240, 1) ;">Éducation</h3>
                    <i style="color:rgba(226, 232, 240, 1) ; cursor: pointer;" class="fa fa-plus add-icon"
                        (click)="openEducationModal()"></i>
                </div>
                <ul class="experience-list">
                    <li *ngFor="let education of educations; let i = index">
                        {{ education.diplome }} - {{ education.universite }}
                        <div class="list-actions">
                            <i style="color:rgba(226, 232, 240, 1) ; cursor: pointer;" class="fa fa-trash delete-icon"
                                (click)="deleteEducation(i)"></i>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Education Modal -->
            <div class="modal fade" id="educationModal" tabindex="-1" aria-labelledby="educationModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content custom-modal-content">
                        <div class="modal-header custom-modal-header">
                            <h5 class="modal-title" id="educationModalLabel">Modifier la formation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body custom-modal-body">
                            <form [formGroup]="educationForm"> <!-- Make sure the Form tag is present -->
                                <div class="form-group">
                                    <label for="university">Université</label>
                                    <input type="text" class="form-control custom-input" id="university"
                                        formControlName="universite"
                                        placeholder="Ex: Institut Supérieur des Beaux-Arts de Sousse">
                                </div>

                                <div class="form-group">
                                    <label for="startDate">Dates de début</label>
                                    <select class="form-control custom-select" id="startDate"
                                        formControlName="dateDebut">
                                        <option value="">De</option>
                                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="endDate">Dates de fin</label>
                                    <select class="form-control custom-select" id="endDate" formControlName="dateFin">
                                        <option value="">à (ou année d'obtention du diplôme prévue)</option>
                                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="degree">Diplôme</label>
                                    <input type="text" class="form-control custom-input" id="degree"
                                        formControlName="diplome" placeholder="Diplôme">
                                </div>

                                <div class="form-group">
                                    <label for="fieldOfStudy">Domaine d'études</label>
                                    <input type="text" class="form-control custom-input" id="fieldOfStudy"
                                        formControlName="domaineEtude" placeholder="Ex: Informatique">
                                </div>


                            </form> <!-- Closing Tag -->

                            <div class="modal-footer custom-modal-footer">
                                <button type="button" class="btn btn-secondary custom-cancel-button"
                                    data-bs-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-primary custom-save-button"
                                    (click)="updateEducation()" data-bs-dismiss="modal">Sauvegarder</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column footer-logo">
                <img src="assets/images/Rectangle 43.png" alt="Logo">
                <div class="newsletter">
                    <input type="email" placeholder="Entrez votre email...">
                    <button>➜</button>
                </div>
                <div class="social-icons">
                    <a href="#">🔵</a>
                    <a href="#">🔘</a>
                    <a href="#">🔗</a>
                </div>
            </div>
            <div class="footer-column">
                <h3>Navigation :</h3>
                <ul>
                    <li><a href="#">Offres d'emploi</a></li>
                    <li><a href="#">Offres de stage</a></li>
                    <li><a href="#">Freelances</a></li>
                    <li><a href="#">Publier une offre</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>À propos :</h3>
                <ul>
                    <li><a href="#">Qui sommes-nous ?</a></li>
                    <li><a href="#">Notre mission</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Support :</h3>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Assistance</a></li>
                    <li><a href="#">Conditions d'utilisation</a></li>
                    <li><a href="#">Politique de confidentialité</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            © Tous droits réservés.<br>
            Ce site est une réalisation de la société Yooreed InnoTech.
        </div>
    </footer>
</body>