@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
/* Profile Container */
.profile-container {
  display: flex;
  padding: 50px;
  font-family: "Arial", sans-serif;
  background-color: rgba(226, 232, 240, 1);
  /* Responsive adjustments for the profile container */
}
/* Sidebar */
.sidebar {
  width: 20%;
  background-color: rgba(226, 232, 240, 1);
  color: #536471;
  padding: 20px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar li {
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}
.sidebar li i {
  margin-right: 10px;
  font-size: 1.2em;
}
.sidebar li.active {
  border-radius: 11px;
  padding: 15px;
  background-color: rgba(30, 41, 59, 1);
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}
/* Main Content */
.main-content {
  width: 80%;
  padding: 20px;
  background-color: rgba(226, 232, 240, 1);
  overflow-y: auto;
}
/* Header Section */
.header {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  border: 1px solid rgba(30, 41, 59, 1);
  border-radius: 15px;
  margin-bottom: 20px;
}
.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
.header-info h2 {
  margin: 0;
  font-size: 1.7em;
  font-weight: 500;
  color: #2d3436;
}
.header-info p {
  margin: 5px 0;
  color: #536471;
}
.upload-btn {
  background-color: transparent;
  color: rgba(30, 41, 59, 1);
  border: 1px solid rgba(30, 41, 59, 1);
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.upload-btn:hover {
  background-color: #2980b9;
}
/* Section Styling */
.section {
  background-color: transparent;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(30, 41, 59, 1);
  margin-bottom: 20px;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.section h3 {
  margin: 0;
  font-weight: 500;
  color: #2d3436;
  font-size: 1.4em;
}
.section p {
  color: #536471;
  line-height: 1.6;
}
/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skills span {
  display: inline-block;
  background-color: rgba(107, 114, 128, 1); /* Grey background */
  color: rgba(226, 232, 240, 1); /* Text color */
  margin: 5px;
  padding: 5px 10px;
  border-radius: 20px; /* Rounded corners */
  font-size: 0.9em; /* Smaller font size */
}
/* Experience List */
.experience-list {
  list-style-type: none;
  padding: 0;
}
.experience-list li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.experience-list li:last-child {
  border-bottom: none;
}
.list-actions {
  display: flex;
}
.delete-icon,
.edit-icon {
  color: #7f8c8d;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s;
}
.delete-icon:hover {
  color: #c0392b;
}
.edit-icon:hover {
  color: #3498db;
}
.add-icon {
  color: #7f8c8d;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s;
}
/* Font Awesome Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
/* General Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
  background: rgba(30, 41, 59, 1);
  position: relative;
}

.navbar nav {
  flex: 1;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 3vw;
}
.nav-links li a {
  color: rgba(226, 232, 240, 1);
  text-decoration: none;
  font-size: 1rem;
  padding: 1vh;
  transition: 0.3s;
}
.nav-links li a.active,
.nav-links li a:hover {
  color: rgba(0, 168, 232, 1);
}
/* Search Container */
.search-container {
  display: flex;
  align-items: center;
  position: relative; /* Make position relative */
}
.search-container input[type="text"] {
  padding: 8px;
  border: 1px solid rgba(226, 232, 240, 0.3);
  border-radius: 20px;
  background: transparent;
  color: rgba(226, 232, 240, 1);
  outline: none;
  padding-left: 30px; /* Add padding to accommodate icon */
  width: 200px; /* Adjust as needed */
}
.search-container input[type="text"]::placeholder {
  color: rgba(226, 232, 240, 0.7);
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(226, 232, 240, 1);
  opacity: 0.7;
}
.search-container button {
  background: none;
  border: none;
  color: rgba(226, 232, 240, 1);
  cursor: pointer;
  opacity: 0.7;
}
/* Icons */
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icons i {
  font-size: 1.5rem;
  color: rgba(226, 232, 240, 1);
  opacity: 0.7;
}
/* User Avatar */
.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.user-avatar img {
  width: 100%;
  height: auto;
  display: block;
}
.search-container input[type="text"] {
  border: 1px solid rgba(226, 232, 240, 0.3); /* Add border */
  background: transparent; /* Transparent background */
  outline: none; /* Remove outline */
}
.icons i {
  opacity: 0.7; /* Reduce icon opacity */
}
.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.user-avatar img {
  width: 100%;
  height: auto;
  display: block;
}
/* Mobile Menu Toggle */
.menu-toggle {
  display: none;
  position: absolute;
  left: 15px;
  top: 15px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}
.menu-toggle img {
  width: 30px;
}

/* Modal Styling */
.custom-modal-content {
  background-color: rgba(30, 41, 59, 1);
  border-radius: 10px;
}

.custom-modal-header {
  border-bottom: none;
}

.custom-modal-header h5 {
  color: #ffffff;
}

.btn-close {
  filter: brightness(0) invert(1);
}

.custom-modal-body p,
.custom-modal-body ul,
.custom-modal-body li {
  color: rgba(226, 232, 240, 0.7);
  font-weight: 400;
  font-size: 16px;
}

.custom-textarea {
  background-color: transparent;
  border: 2px solid rgba(226, 232, 240, 1);
  color: rgba(226, 232, 240, 1);
  font-size: 15px;
}

.custom-textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.character-count {
  color: rgba(255, 255, 255, 0.6);
}

.custom-modal-footer {
  border-top: none;
}

.custom-cancel-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 14px;
}

.custom-save-button {
  background-color: rgba(0, 168, 232, 1);
  border-radius: 16px;
  font-size: 14px;
}
.custom-modal-content {
  background-color: rgba(30, 41, 59, 1);
  border-radius: 10px;
  color: white;
}

.custom-modal-header {
  border-bottom: none;
}

.custom-modal-header h5 {
  color: #ffffff;
}

.btn-close {
  filter: brightness(0) invert(1); /* White close button */
}

.custom-modal-body {
  padding: 20px; /* Added padding */
}

.custom-modal-footer {
  border-top: none;
  padding: 20px; /* Added padding */
}

.custom-cancel-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #6c757d;
  border-radius: 5px; /* Rounded corners */
  padding: 5px 15px; /* Added padding */
}

.custom-save-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px; /* Rounded corners */
  padding: 5px 15px; /* Added padding */
}
.skill-input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid rgba(226, 232, 240, 0.3);
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

.form-input::placeholder {
  color: rgba(226, 232, 240, 0.7);
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #343a40;
  border: 1px solid #555;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  color: white;
}

.suggestion-item:hover {
  background-color: #495057;
}
/* Skill Container Styles (Updated to match image) */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  border: 1px solid rgba(226, 232, 240, 0.3); /* More subtle border */
  border-radius: 10px;
  padding: 15px;
  background-color: transparent; /* Remove background color */
}

.skill-tag {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(226, 232, 240, 1);
  border-radius: 20px; /* More rounded */
  padding: 5px 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.skill-tag:hover {
  background-color: #3d4f63;
}

.skill-tag button {
  background: none;
  border: none;
  color: rgba(226, 232, 240, 1);
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 16px;
}

.skill-tag button:hover {
  color: #ef4444;
}

/* New Styles for Text and Maximum Skills */
.competences-text {
  color: rgba(226, 232, 240, 1);
  font-weight: bold; /* Make the "Compétences" text bold */
  margin-bottom: 10px;
}

.max-skills {
  color: rgba(226, 232, 240, 0.7);
  font-size: 0.8em; /* Smaller font size */
  margin-top: 10px;
  text-align: left; /* Align text to the left */
}
.custom-modal-content {
  background-color: rgba(30, 41, 59, 1);
  border-radius: 10px;
  color: white;
}

.custom-modal-header {
  border-bottom: none;
}

.custom-modal-header h5 {
  color: #ffffff;
}

.btn-close {
  filter: brightness(0) invert(1); /* White close button */
}

.custom-modal-body {
  padding: 20px;
}

.custom-modal-footer {
  border-top: none;
  padding: 20px;
}

.custom-cancel-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #6c757d;
  border-radius: 5px;
  padding: 5px 15px;
}

.custom-save-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}

/* New Styles for Form Inputs */
.form-group {
  margin-bottom: 15px;
}

label {
  color: rgba(226, 232, 240, 1);
  display: block;
  margin-bottom: 5px;
}

.form-control {
  border: 1px solid rgba(226, 232, 240, 0.3);
  border-radius: 5px;
  background-color: transparent;
  color: white;
  padding: 8px;
  width: 100%;
}

.form-control::placeholder {
  color: rgba(226, 232, 240, 0.7);
}

/* Specific Style for Textarea */
.custom-textarea {
  resize: vertical;
  height: auto;
}

.custom-select {
  appearance: none;
  background-color: rgba(30, 41, 59, 1); /* Add this */
  color: rgba(226, 232, 240, 1); /* Add this */
  border: 1px solid rgba(226, 232, 240, 0.3); /* Add this */
  border-radius: 5px; /* Add this */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 8px 10px;
  padding-right: 25px;
  width: 100%; /* Add this for responsiveness */
}

/* Style for the options within the select */
.custom-select option {
  background-color: rgba(30, 41, 59, 1);
  color: rgba(226, 232, 240, 1);
}
@media (max-width: 1024px) {
  .sidebar {
    width: 24%;
  }
}
@media (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
  }
  .navbar nav {
    padding-top: 5px; /* Reduced padding for smaller screens */
  }
  .nav-links,
  .search-container,
  .icons {
    display: none; /* Initially hide these elements */
    width: 100%;
    margin-top: 10px;
  }
  /* Make sure active class displays the elements properly */
  .nav-links.active {
    display: flex; /* Display the nav links */
    flex-direction: column; /* Stack them vertically */
  }
  .search-container.active {
    display: flex;
  }
  .search-container input[type="text"] {
    width: 100%; /* Expand the search input */
  }
  .icons.active {
    display: flex;
  }
  .menu-toggle {
    display: block; /* Display the toggle button */
  }
  .profile-container {
    flex-direction: column; /* Stack sidebar and main content */
    padding: 20px; /* Reduce padding for smaller screens */
  }
  .sidebar {
    width: 100%; /* Make sidebar full width */
  }
  .main-content {
    width: 100%; /* Make main content full width */
    padding: 20px; /* Reduce padding for smaller screens */
  }
  .header {
    flex-direction: column; /* Stack items in header */
    align-items: flex-start; /* Align items to the start */
  }
  .profile-photo {
    margin-bottom: 10px;
  }
}
/* Additional Styles */
.navbar nav {
  flex: 1;
  display: flex;
  justify-content: center;
}
/* Font Awesome Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
/* Footer Styles */
.footer {
  background-color: #1c2738;
  color: white;
  padding-top: 40px;
  padding-bottom: 0px;
  text-align: center;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
}
.footer-column {
  text-align: left;
  padding-bottom: 20px;
  margin: 10px;
  min-width: 200px;
}
.footer-column h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin: 5px 0;
}
.footer-column ul li a {
  font-weight: 400;
  color: white;
  text-decoration: none;
}
.footer-logo {
  text-align: left;
}
.footer-logo img {
  max-width: 130px;
}
.newsletter {
  display: flex;
  align-items: center;
  background-color: #eef1f5;
  border-radius: 30px;
  padding: 5px 10px;
  max-width: 250px;
  margin: 10px auto;
}
.newsletter input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  padding: 10px;
  border-radius: 30px;
}
.newsletter button {
  background-color: #1c2738;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.social-icons {
  margin-top: 10px;
}
.social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.footer-bottom {
  margin-top: 20px;
  color: #000;
  padding-top: 10px;
  padding-bottom: 15px;
  border-top: 1px solid #ccc;
  font-size: 12px;
  background-color: white;
}
