<div class="dashboard-layout">
    <app-sidebar></app-sidebar>
    <div class="main-content">
        <header class="topbar">
            <div class="left"></div>
            <div class="right">
                <button class="icon-btn notification">
                    <i class="fa fa-bell"></i>
                </button>
                <button class="icon-btn logout" (click)="logout()">
                    <i class="fa fa-sign-out-alt"></i>
                </button>

            </div>
        </header>